@model IEnumerable<FYPWEB.Models.Consultation>

@{
    ViewData["Title"] = "Index";
}

<h2>Consultation Time</h2>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Create New Entry</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Doctor's ID
            </th>
            <th>
                Doctor's Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            DateTime dt = DateTime.Now;
            if (item.DocID == @ViewBag.did && item.Date > dt)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocName)
                </td>
                <td>
                    @item.Date.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID"><button type="button" class="btn btn-success">EDIT</button></a>
                    <a asp-action="Details" asp-route-id="@item.ID"><button type="button" class="btn btn-info">DETAILS</button></a>
                    <a asp-action="Delete" asp-route-id="@item.ID"><button type="button" class="btn btn-danger">DELETE</button></a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="DoctorPage"><button type="button" class="btn btn-default">BACK</button></a>
</div>